<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "menu 1",   '#' %></li>
        <li><%= link_to "menu 2",   '#' %></li>
        <li><%= link_to "menu 3", '#' %></li>
        <li><%= link_to "menu 4", '#' %></li>
        <li><%= link_to "menu 5", '#' %></li>
      </ul>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Button 1",   '#' %></li>
        <li><%= link_to "Button 2",   '#' %></li>
      </ul>
    </nav>
  </div>
</header>
