<!DOCTYPE html>
<html>
  <head>
    <title>Infinite scroll feeds</title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <section class="container" style="padding: 0">
      <%= yield %>
    </section>
    <%= render 'layouts/footer' %>
  </body>
</html>
